:root {
  --color-white: #fff;
  --color-black: #000;
  --color-lighter-brown: #877560;
  --color-even-lighter-brown: #96897a;
  --color-beige: #fcf2e6;
  --color-dark-beige: #eee3d4;
  --color-brown: #321d05;
  --color-light-blue: #eaf4f6;
  --color-blue: #8fd9e4;
  --color-light-purple: #f5f1ff;
  --color-dark-purple: #7983ca;
  --color-light-orange: #f9d8ad;
  --color-dark-orange: #c57b59;
  --color-dark-green: #5d6930;
  --color-light-green: #878a6d;
  --color-green: #f1ffcb;
}
.dark-mode {
  --color-white: #000;
  --color-black: #fcf2e6;
  --color-beige: #321d05;
  --color-dark-beige: #241806;
  --color-brown: #fcf2e6;
  --color-lighter-brown: #baaa98;
  --color-even-lighter-brown: #544c44;
  --color-light-green: #585a48;
}
html {
  scroll-behavior: smooth;
  background-color: var(--color-beige);
}

/* navbar */

.navbar {
  position: fixed;
  width: 100%;
  background-color: var(--color-beige);
  height: 5rem;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  z-index: 9999;
  gap: 2rem;
}
.navbar-quiz {
  position: fixed;
  width: 100%;
  background-color: var(--color-beige);
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}
.logo-container {
  width: auto;
  grid-column: 1;
  z-index: 9999;
}
.logo-img {
  width: auto;
  height: 2rem;
  cursor: pointer;
  z-index: 9999;
  margin-left: 3rem;
}
.nav-menu-container {
  display: flex;
  justify-content: end;
  margin-right: 2.5rem;
  grid-column: 2;
}
.nav-menu-container-quiz {
  left: 2.5rem;
  position: absolute;
}
.nav-menu-landing-page {
  align-items: center;
  gap: 3rem;
  display: flex;
}
.nav-menu-item a {
  cursor: pointer;
  text-transform: uppercase;
  color: var(--color-brown);
  transition-duration: 200ms;
  font-weight: 400;
  font-size: 0.8rem;
  text-decoration: none;
}
.nav-menu-item a:hover {
  color: var(--color-lighter-brown);
  transition-duration: 200ms;
}
.contact-btn {
  border: none;
  background-color: var(--color-brown);
  color: var(--color-beige);
  padding: 0.9rem 1.4rem 0.9rem 1.4rem;
  border-radius: 100px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 0.7rem;
}

/* about page */

.about-page {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-beige);
  background-image: url("../../assets/images/plant1.png");
  background-repeat: no-repeat;
  background-position: left 5% bottom;
  background-size: 20rem auto;
  user-select: none;
}
.about-content {
  text-align: center;
  margin-top: 5rem;
}
.title-about {
  padding-bottom: 2rem;
  position: relative;
}
.about-cover-img {
  max-width: 40rem;
  width: 100%;
  padding-bottom: 1rem;
  z-index: 9999;
}
.title-about h2 {
  font-weight: 500;
  color: var(--color-black);
  font-size: 1.5rem;
  position: relative;
}
.about-description {
  max-width: 45rem;
  width: 100%;
  color: var(--color-black);
  position: relative;
}
.about-description p {
  font-size: 1.3rem;
  line-height: 30px;
  font-weight: 300;
  padding-bottom: 2rem;
  background-color: var(--color-beige);
  border-radius: 5px;
}
.quiz-btn {
  border: none;
  background-color: var(--color-brown);
  color: var(--color-beige);
  padding: 0.9rem 1.4rem 0.9rem 1.4rem;
  border-radius: 100px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1rem;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.1);
  transition-duration: 200ms;
}
.quiz-btn:hover {
  transition-duration: 200ms;
  transform: scale(0.95);
}
.plant1-img {
  max-width: 20rem;
  width: 100%;
  height: auto;
  object-fit: contain;
}
.plant1-container {
  position: absolute;
  z-index: 0;
}
.bold-word {
  text-decoration: underline;
}
.about-blob-img {
  position: absolute;
  top: 0;
  right: 0;
  object-fit: contain;
}

/* settings component */

.settings-container {
  position: fixed;
  bottom: 0;
  left: 4rem;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.settings-line {
  height: 10rem;
  width: 0.2rem;
  background-color: var(--color-lighter-brown);
}
#music-btn {
  background-color: var(--color-beige);
  border: 1px solid var(--color-lighter-brown);
  padding: 0.5rem;
  color: var(--color-brown);
  cursor: pointer;
  background-image: url("https://cdn.icon-icons.com/icons2/2226/PNG/512/play_icon_134504.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 0.8rem auto;
}
.dark-btn {
  width: 1rem;
  height: auto;
  cursor: pointer;
  display: block;
}

/* missions page */

.mission-page {
  height: 100vh;
  width: 100vw;
  position: relative;
  background-color: var(--color-beige);
  display: flex;
  align-items: end;
  justify-content: center;
}
.missions-container {
  height: 89vh;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}

/* missions page left side */

.mission-left-side {
  grid-column: 1;
  text-align: center;
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mission-left-content {
  padding-left: 5rem;
  gap: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mission-left-title {
  font-size: 3rem;
  width: 100%;
  padding-bottom: 1.5rem;
  color: var(--color-black);
  border-bottom: 1px solid var(--color-brown);
}
.mission-left-description {
  font-size: 1rem;
  max-width: 40rem;
  color: var(--color-black);
  line-height: 22px;
  text-align: left;
}

/* cards left side */

.cards-container {
  display: grid;
grid-template-rows: 1fr 1fr 1fr;
  width: 100%;
  justify-content: center;
  height: 45vh;
  /* background-color: red; */
}
.card {
  padding: 1.5rem;
  max-width: 30rem;
  width: 100%;
  height: 8vh;
  position: relative;
  border: 2px solid var(--color-even-lighter-brown);
  display: flex;
  flex-direction: column;
  border-radius: 7px;
  box-shadow: 0 0 9px 1.5px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
}
.card-title {
  width: 100%;
  display: flex;
  color: var(--color-black);
  justify-content: start;
  padding-bottom: 1rem;
  padding-left: 2rem;
  font-size: 1rem;
  font-weight: 600;
}
.card-description {
  font-size: 0.85rem;
  color: var(--color-black);
  text-align: justify;
  line-height: 17px;
  width: 100%;
}
.mission-icon {
  width: 2rem;
  height: auto;
  position: absolute;
  top: 0.6rem;
  left: 0.8rem;
}

/* missions page right side */

.mission-right-side {
  grid-column: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 2rem;
}
.mission-img-container {
  background-color: var(--color-even-lighter-brown);
  border-radius: 50%;
  max-width: 40rem;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.mission-img-container::before {
  content: "";
  display: block;
  padding-top: 100%;
}
.mission-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../../assets/images/mission2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* information page */

.info-page {
  height: 100vh;
  width: 100vw;
  position: relative;
  background-color: var(--color-beige);
  display: flex;
  align-items: end;
  justify-content: center;
}
.info-page-container {
  width: 100%;
  height: 90vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  place-items: center;
}
/* information page left side */

.info-left-side {
  grid-column: 1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: end;
  place-items: center;
}
.information-display-container {
  width: 70%;
  max-height: 85%;
  height: 100%;
  margin-right: 4rem;
  position: relative;
  background-color: var(--color-light-green);
  border-radius: 5px;
  padding: 2rem;
}
.information-display-container span {
  position: absolute;
  color: var(--color-black);
  top: 1rem;
  font-size: 0.7rem;
  left: 1rem;
  background-color: var(--color-light-green);
}
.information-display-container h1 {
  font-weight: 500;
  font-size: 2rem;
  color: var(--color-brown);
}
.information-display-container p {
  line-height: 24px;
  color: var(--color-brown);
  font-size: 0.9rem;
}

/* info displays  */

#vitamins-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
#vitamins-display-container {
  height: 100%;
  overflow-y: auto;
  display: none;
}
#exercise-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
#exercise-display-container {
  height: 100%;
  overflow-y: auto;
  display: none;
}
#simple-actions-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
#simple-actions-display-container {
  height: 100%;
  overflow-y: auto;
  display: none;
}
#sports-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
#sports-display-container {
  height: 100%;
  overflow-y: auto;
  display: none;
}
.info-display-icon {
  width: 1rem;
  height: auto;
}

/* information page right side  */

.info-right-side {
  grid-column: 2;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.info-right-content {
  width: 100%;
  color: var(--color-black);
  height: 95%;
  display: flex;
  flex-direction: column;
  place-items: center;
  padding: 1rem 4rem 1rem 1rem;
  gap: 2rem;
}
.info-right-content div {
  transition-duration: 200ms;
  color: #321d05;
}
.info-right-content div:hover {
  transform: scale(0.97);
  transition-duration: 200ms;
}
.info-right-title {
  font-size: 3rem;
  display: flex;
  width: 100%;
  justify-content: center;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid var(--color-brown);
}

/* info buttons  */

.info-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1.5rem;
  width: 50%;
}
.info-list h1 {
  font-size: 1rem;
  font-weight: 500;
  z-index: 9998;
  text-align: center;
  width: 70%;
  text-transform: uppercase;
}
.info-list div {
  border-radius: 5px;
  box-shadow: 0 0 9px 1.5px rgba(0, 0, 0, 0.1);
  height: 2rem;
  padding: 2rem;
  display: flex;
  justify-content: end;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.info-list img {
  position: absolute;
  width: 6rem;
  height: auto;
  bottom: 0;
  left: -0.2rem;
  z-index: 0;
}
.vitamins-info-box {
  background-color: var(--color-light-blue);
  border: 1.5px solid var(--color-blue);
}
.exercise-info-box {
  background-color: var(--color-light-purple);
  border: 1.5px solid var(--color-dark-purple);
}
.simple-actions-info-box {
  background-color: var(--color-light-orange);
  border: 1.5px solid var(--color-dark-orange);
}
.sports-info-box {
  background-color: var(--color-green);
  border: 1.5px solid var(--color-light-green);
}

/* challenge page  */

.challenge-page {
  height: 100vh;
  width: 100vw;
  position: relative;
  background-color: var(--color-beige);
  display: flex;
  justify-content: center;
  align-items: end;
}
.challenge-container {
  max-width: 70rem;
  width: 100%;
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  gap: 1.5rem;
  color: var(--color-black);
}
.challenge-page-title {
  font-size: 3rem;
  display: flex;
  width: 70%;
  justify-content: center;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid var(--color-brown);
}

/* form challenge  */

#form-challenge {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  position: relative;
  align-items: center;
}
#input-challenge {
  max-width: 40rem;
  width: 100%;
  height: 2.5rem;
  border: 1.5px solid var(--color-lighter-brown);
  background-color: var(--color-dark-beige);
  border-radius: 5px;
  text-indent: 1rem;
  padding-right: 3.5rem;
  position: relative;
  outline: none;
}
#frequency-select {
  height: 2rem;
  border: none;
  background-color: var(--color-lighter-brown);
  color: var(--color-white);
  outline: none;
  border-radius: 5px;
}
.submit-button-challenge {
  border: none;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--color-brown);
  color: var(--color-beige);
}

/* goals  */

.goals-container {
  max-width: 60rem;
  width: 100%;
  height: 100%;
  background-color: var(--color-dark-beige);
  padding: 2rem;
  border-radius: 5px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  overflow: auto;
  text-align: center;
}

.goal {
  width: 90%;
  max-height: 5rem;
  height: 100%;
  padding: 1rem;
  background-color: var(--color-beige);
  color: var(--color-black);
  border: 2px solid var(--color-even-lighter-brown);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  flex-shrink: 0;
}
.goal-left-menu {
  display: flex;
  gap: 1rem;
}
.goal h1 {
  font-weight: 500;
  font-size: 0.9rem;
  max-width: 35rem;
  word-break: break-all;
  line-height: 20px;
  text-decoration: none;
}
.goal-right-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.goal-right-menu h3 {
  font-size: 0.7rem;
  text-transform: uppercase;
  user-select: none;
}
.goal-right-menu img {
  width: 1.5rem;
  height: auto;
  cursor: pointer;
}

/* contact us page  */

.contact-us-page {
  height: 100vh;
  width: 100vw;
  position: relative;
  background-color: var(--color-beige);
  display: flex;
  justify-content: center;
}
.contact-us-container-lp {
  flex-direction: column;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.contact-us-title-lp {
  font-size: 3rem;
  color: var(--color-brown);
  padding-bottom: 1.5rem;
  border-bottom: 1px solid var(--color-brown);
  max-width: 60%;
  width: 100%;
  display: flex;
  justify-content: center;
}
.contact-us-subtitle-lp {
  font-weight: 400;
  color: var(--color-brown);
  max-width: 50rem;
  width: 100%;
  text-align: center;
  line-height: 23px;
}
.contact-us-content-lp {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2.5rem;
  margin-top: 1.5rem;
}
.contact-person h1 {
  font-weight: 500;
  padding-bottom: 0.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid var(--color-brown);
  margin-top: 0.4rem;
  color: var(--color-brown);
}
.contact-person {
  background-color: var(--color-even-lighter-brown);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  border-radius: 5px;
  box-shadow: 0 0 9px 1.5px rgba(0, 0, 0, 0.1);
}
.contact-person-picture {
  border-radius: 50%;
  border: 1px solid var(--color-brown);
  box-shadow: 0 0 9px 1.5px rgba(0, 0, 0, 0.1);
  max-width: 13rem;
  width: 100%;
}
.socials-container {
  display: flex;
  gap: 0.8rem;
  margin-top: 0.2rem;
}
.social-icon {
  cursor: pointer;
  width: auto;
  height: 2rem;
}

@media (max-width: 1400px) {
  .mission-left-description {
    font-size: .8rem;
    line-height: 15px;
  }
}
@media (max-width: 1075px) {
  .card-title {
    font-size: .8rem;
  }
  .card-description {
    font-size: .7rem;
  }
  .navbar {
    gap:0;
  }
  .nav-menu-item a {
    font-size: .7rem;
  }
}
@media (max-height: 857px) {
  .card-title {
    font-size: .8rem;
  }
  .card-description {
    font-size: .7rem;
  }
  .card {
    padding-top: .8rem;
    width: 13rem;
    height: 14vh;
  }
  .cards-container {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
@media (max-height: 730px) {
  .info-list {
    grid-template-columns: 1fr 1fr;
    max-width: 30rem;
    width: 100%;
  }
  .contact-us-container-lp {
    margin-top: 2rem;
    gap:.7rem;
  }
  .contact-person-picture {
height: 7rem;
  }
  .contact-us-content-lp {
    margin-top: .5rem;
  }
}